upstream {{ d_name }} {
    {% for host in groups['web_srv'] %}
       server {{ hostvars[host]['ansible_host'] }}:8000;
    {% endfor %}
}

server {
    listen 80;
    server_name {{ d_name }};

    location / {
        proxy_pass http://{{ d_name }};
    }
}
